In [1]:
import pandas as pd

In [2]:
_dictionary = pd.read_csv("data_dictionary.csv")
_data = pd.read_csv("Wimbledon_featured_matches.csv")

In [5]:
dictionary = _dictionary.copy()
dictionary

,variables,explanation,example
0,match_id,match identification,"2023-wimbledon-1701 (""7"" is the round, and ""01..."
1,player1,first and last name of the first player,Carlos Alcaraz
2,player2,first and last name of the second player,Novak Djokovic
3,elapsed_time,time elapsed since start of first point to sta...,0:10:27
4,set_no,set number in match,"1, 2, 3, 4, or 5"
5,game_no,game number in set,"1, 2, ...,7"
6,point_no,point number in game,"1, 2, 3... etc."
7,p1_sets,sets won by player 1,"0, 1, or 2"
8,p2_sets,sets won by player 2,"0, 1, or 2"
9,p1_games,games won by player 1 in current set,"0, 1,...,6"
10,p2_games,games won by player 2 in current set,"0, 1,...,6"
11,p1_score,player 1's score within current game,"0 (love), 15, 30, 40, AD (advantage)"
12,p2_score,player 2's score within current game,"0 (love), 15, 30, 40, AD (advantage)"
13,server,server of the point,"1: player 1, 2: player 2"
14,serve_no,first or second serve,"1: first serve, 2: second serve"
15,point_victor,winner of the point,"1 if player 1 wins, 2 if player 2 wins"
16,p1_points_won,number of points won by player 1 in match,"0, 1, 2... etc."
17,p2_points_won,number of points won by player 2 in match,"0, 1, 2... etc."
18,game_victor,a player won a game this point,"0: no one, 1: player 1, 2: player 2"
19,set_victor,a player won a set this point,"0: no one, 1: player 1, 2: player 2"
20,p1_ace,player 1 hit an untouchable winning serve,0 or 1
21,p2_ace,player 2 hit an untouchable winning serve,0 or 1
22,p1_winner,player 1 hit an untouchable winning shot,0 or 1
23,p2_winner,player 2 hit an untouchable winning shot,0 or 1
24,winner_shot_type,category of untouchable shot,"F: Forehand, B: Backhand"
25,p1_double_fault,player 1 missed both serves and lost the point,0 or 1
26,p2_double_fault,player 2 missed both serves and lost the point,0 or 1
27,p1_unf_err,player 1 made an unforced error,0 or 1
28,p2_unf_err,player 2 made an unforced error,0 or 1
29,p1_net_pt,player 1 made it to the net,0 or 1
30,p2_net_pt,player 2 made it to the net,0 or 1
31,p1_net_pt_won,player 1 won the point while at the net,0 or 1
32,p2_net_pt_won,player 2 won the point while at the net,0 or 1
33,p1_break_pt,player 1 has an opportunity to win a game play...,0 or 1
34,p2_break_pt,player 2 has an opportunity to win a game play...,0 or 1
35,p1_break_pt_won,player 1 won the game player 2 is serving,0 or 1
36,p2_break_pt_won,player 2 won the game player 1 is serving,0 or 1
37,p1_break_pt_missed,player 1 missed an opportunity to win a game p...,0 or 1
38,p2_break_pt_missed,player 2 missed an opportunity to win a game p...,0 or 1
39,p1_distance_run,player 1's distance ran during point (meters),"5.376, 21.384, etc."
40,p2_distance_run,player 2's distance ran during point (meters),"6.485, 12.473, etc."
41,rally_count,number of shots during the point,"1, 2, 4, etc. (includes serve)"
42,speed_mph,speed of serve (miles per hour; mph),"81, 124, etc."
43,serve_width,direction of serve,"B: Body, BC: Body/Center, BW: Body/Wide, C: Ce..."
44,serve_depth,depth of serve,"CTL: Close To Line, NCTL: Not Close To Line"
45,return_depth,depth of return,"D: Deep, ND: Not Deep"

In [6]:
data = _data.copy()
data.head()

,match_id,player1,player2,elapsed_time,set_no,game_no,point_no,p1_sets,p2_sets,p1_games,...,p2_break_pt_won,p1_break_pt_missed,p2_break_pt_missed,p1_distance_run,p2_distance_run,rally_count,speed_mph,serve_width,serve_depth,return_depth
0,2023-wimbledon-1301,Carlos Alcaraz,Nicolas Jarry,00:00:00,1,1,1,0,0,0,...,0,0,0,6.000,7.840,2,95.0,BC,NCTL,ND
1,2023-wimbledon-1301,Carlos Alcaraz,Nicolas Jarry,00:00:38,1,1,2,0,0,0,...,0,0,0,5.253,7.094,1,118.0,B,CTL,ND
2,2023-wimbledon-1301,Carlos Alcaraz,Nicolas Jarry,00:01:01,1,1,3,0,0,0,...,0,0,0,13.800,19.808,4,120.0,B,NCTL,D
3,2023-wimbledon-1301,Carlos Alcaraz,Nicolas Jarry,00:01:31,1,1,4,0,0,0,...,0,0,0,51.108,75.631,13,130.0,BW,CTL,D
4,2023-wimbledon-1301,Carlos Alcaraz,Nicolas Jarry,00:02:21,1,1,5,0,0,0,...,0,0,0,0.649,0.813,1,112.0,W,NCTL,NaN

In [7]:
print(data.columns)

Index(['match_id', 'player1', 'player2', 'elapsed_time', 'set_no', 'game_no',
       'point_no', 'p1_sets', 'p2_sets', 'p1_games', 'p2_games', 'p1_score',
       'p2_score', 'server', 'serve_no', 'point_victor', 'p1_points_won',
       'p2_points_won', 'game_victor', 'set_victor', 'p1_ace', 'p2_ace',
       'p1_winner', 'p2_winner', 'winner_shot_type', 'p1_double_fault',
       'p2_double_fault', 'p1_unf_err', 'p2_unf_err', 'p1_net_pt', 'p2_net_pt',
       'p1_net_pt_won', 'p2_net_pt_won', 'p1_break_pt', 'p2_break_pt',
       'p1_break_pt_won', 'p2_break_pt_won', 'p1_break_pt_missed',
       'p2_break_pt_missed', 'p1_distance_run', 'p2_distance_run',
       'rally_count', 'speed_mph', 'serve_width', 'serve_depth',
       'return_depth'],
      dtype='object')